---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Hero } from "../components/Hero";
import { MenuSection } from "../components/MenuSection";
import { Reviews } from "../components/Reviews";
import { MapSection } from "../components/MapSection";
import { Footer } from "../components/Footer";
---

<Layout>
  <main>
    <Navbar client:load />
    <Hero client:visible />
    <MenuSection client:visible />
    <Reviews client:visible />
    <MapSection client:visible />
    <Footer client:idle />
  </main>
</Layout>
